<% if params[:action] == "show"  %>
<h3>Game Info</h3>
<strong>Game field:</strong> <%= @game.width.to_s + " X " + @game.height.to_s %></br>
<strong>Colors: </strong><%= @game.colors %></br>
<strong>Score: </strong><b id = "score"><%= @game.score %></b></br>

<% else %>
    <h3>Restore Game</h3>
    You can restore your game, using your name:

    <%= form_tag restore_game_path, :html => { :class => 'form-horizontal' } do %>
        <p>
            <%= text_field_tag :user, nil, :class => 'text_field', placeholder: "User Name"  %>
        </p>
        <%= submit_tag "Restore Game", :class => 'btn btn-primary' %>
        <% end  %>
<% end  %>